[Unit]
Description=wifisetup
Conflicts=shutdown.target actdead.target
After=droid-hal-init.service
Before=bluebinder.service connman.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "echo ON > /dev/wlan"

[Install]
WantedBy=network.target
